body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

table {
  border-collapse: separate;
  border: 3px solid white;
  width: 100%;
  overflow: hidden;
  border-radius: 25px;
}

td {
  text-align: left;
  padding: 3px;
}

th {
  color: #ffe2e0;
}

tr:nth-child(even) {
  background-color: #ffe2e0;
}

.container {
  padding: 5% 5% 2% 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 10%;
  box-shadow: 0 8px 32px 0 rgba(180, 155, 153, 0.37);
  backdrop-filter: blur( 2px );
  -webkit-backdrop-filter: blur( 2px );
  background: rgba( 255, 255, 255, 0.25 );
  box-shadow: 0 8px 32px 0 rgba(255, 129, 119, 0.37 );
  backdrop-filter: blur( 1px );
  -webkit-backdrop-filter: blur( 1px );
  border-radius: 20px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  width: 80%;
}

.lastPart {
  position: relative;
  background-color: #ff8177;
  border-radius: 20px;
  display : flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height : 90vh;
  float: right;
  width:66%;
  overflow-y:scroll;
}