extends layout
block content
    link(href='/stylesheets/title.css', rel='stylesheet')
    link(href='/stylesheets/upload.css', rel='stylesheet')
    link(rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css" defer)
    script(src="/js/upload.js" defer)
    script(type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js")
    script(src="https://kit.fontawesome.com/bdaa21e6ed.js" crossorigin="anonymous" defer)
    body
        script.
            console.log('#{liste}');
            if ('#{modified}') {
                Toastify({
                    text: "Vos informations ont bien été modifiées",
                    duration: 3000,
                    destination: "/update",
                    gravity: "top", 
                    position: "center", // `left`, `center` or `right`
                    style: {
                        background: "#43B929"
                    }
                    }).showToast();          
            }             

        nav
            .logo
                a(class="title") 
                    img(src="/img/logo.svg" alt="logo")
                    span SportTrack

            .menu
                a(href="/update") 
                    i(class="fa-solid fa-user-pen")
                a(href="/disconnect")
                    i(class="fa-solid fa-right-from-bracket")

        .conteneur
            .firstPart
                svg(xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.dev/svgjs" viewBox="0 0 800 400")
                    path(d="M2.9895365238189697,207.1748809814453C2.9895365238189697,207.1748809814453,33.482810974121094,206.2780303955078,33.482810974121094,206.2780303955078C33.482810974121094,206.2780303955078,46.935726165771484,119.28250885009766,46.935726165771484,119.28250885009766C46.935726165771484,119.28250885009766,63.0792236328125,286.0986633300781,63.0792236328125,286.0986633300781C63.0792236328125,286.0986633300781,79.22271728515625,205.38116455078125,79.22271728515625,205.38116455078125C79.22271728515625,205.38116455078125,109.71599578857422,201.79371643066406,109.71599578857422,201.79371643066406C109.71599578857422,201.79371643066406,124.0657730102539,240.35874938964844,124.0657730102539,240.35874938964844C124.0657730102539,240.35874938964844,134.82809448242188,180.26905822753906,134.82809448242188,180.26905822753906C134.82809448242188,180.26905822753906,147.3841552734375,206.2780303955078,147.3841552734375,206.2780303955078C147.3841552734375,206.2780303955078,197.60836791992188,208.96861267089844,197.60836791992188,208.96861267089844C197.60836791992188,208.96861267089844,219.13304138183594,123.76681518554688,219.13304138183594,123.76681518554688C219.13304138183594,123.76681518554688,233.48280334472656,260.0896911621094,233.48280334472656,260.0896911621094C233.48280334472656,260.0896911621094,271.1509704589844,203.5874481201172,271.1509704589844,203.5874481201172C271.1509704589844,203.5874481201172,321.37518310546875,204.4842987060547,321.37518310546875,204.4842987060547C321.37518310546875,204.4842987060547,354.5590515136719,101.34529113769531,354.5590515136719,101.34529113769531C354.5590515136719,101.34529113769531,366.2182312011719,205.38116455078125,366.2182312011719,205.38116455078125C366.2182312011719,205.38116455078125,380.5680236816406,292.3766784667969,380.5680236816406,292.3766784667969C380.5680236816406,292.3766784667969,408.3706970214844,202.69058227539062,408.3706970214844,202.69058227539062C408.3706970214844,202.69058227539062,455.9043273925781,207.1748809814453,455.9043273925781,207.1748809814453C455.9043273925781,207.1748809814453,488.19134521484375,151.5695037841797,488.19134521484375,151.5695037841797C488.19134521484375,151.5695037841797,498.95367431640625,243.94618225097656,498.95367431640625,243.94618225097656C498.95367431640625,243.94618225097656,516.890869140625,205.38116455078125,516.890869140625,205.38116455078125C516.890869140625,205.38116455078125,558.146484375,201.79371643066406,558.146484375,201.79371643066406C558.146484375,201.79371643066406,576.9805908203125,252.914794921875,576.9805908203125,252.914794921875C576.9805908203125,252.914794921875,588.6397705078125,100.44843292236328,588.6397705078125,100.44843292236328C588.6397705078125,100.44843292236328,628.1016235351562,339.0134582519531,628.1016235351562,339.0134582519531C628.1016235351562,339.0134582519531,626.3079223632812,203.5874481201172,626.3079223632812,203.5874481201172C626.3079223632812,203.5874481201172,660.3886108398438,202.69058227539062,660.3886108398438,202.69058227539062C660.3886108398438,202.69058227539062,669.3572387695312,134.52914428710938,669.3572387695312,134.52914428710938C669.3572387695312,134.52914428710938,689.9850463867188,288.78924560546875,689.9850463867188,288.78924560546875C689.9850463867188,288.78924560546875,725.8594970703125,209.86546325683594,725.8594970703125,209.86546325683594C725.8594970703125,209.86546325683594,798.5052490234375,208.07174682617188,798.5052490234375,208.07174682617188" fill="none" stroke-width="3" stroke="hsl(4, 100%, 73%)" stroke-linecap="round" stroke-opacity="0.6")
                    defs
                        linearGradient(id="SvgjsLinearGradient1000")
                            stop(stop-color="hsl(37, 99%, 67%)" offset="0")
                            stop(stop-color="hsl(316, 73%, 52%)" offset="1")

                .glass
                    h1 Charger vos données
                    form(enctype="multipart/form-data" method="post" action= "/upload" id="upload")
                        input(type="file" id="file" accept=".json" hidden ="true" name="file")
                        button(type="button" class="choose" id="fileBtn") Choisir un fichier
                        span(id="fileTxt" class="choose-text") Vous n'avez importé aucun fichier 
                        button(type="submit" class="button") Charger

            .lastPart
                svg(xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.dev/svgjs" viewBox="0 0 800 400")
                    path(d="M2.9895365238189697,207.1748809814453C2.9895365238189697,207.1748809814453,33.482810974121094,206.2780303955078,33.482810974121094,206.2780303955078C33.482810974121094,206.2780303955078,46.935726165771484,119.28250885009766,46.935726165771484,119.28250885009766C46.935726165771484,119.28250885009766,63.0792236328125,286.0986633300781,63.0792236328125,286.0986633300781C63.0792236328125,286.0986633300781,79.22271728515625,205.38116455078125,79.22271728515625,205.38116455078125C79.22271728515625,205.38116455078125,109.71599578857422,201.79371643066406,109.71599578857422,201.79371643066406C109.71599578857422,201.79371643066406,124.0657730102539,240.35874938964844,124.0657730102539,240.35874938964844C124.0657730102539,240.35874938964844,134.82809448242188,180.26905822753906,134.82809448242188,180.26905822753906C134.82809448242188,180.26905822753906,147.3841552734375,206.2780303955078,147.3841552734375,206.2780303955078C147.3841552734375,206.2780303955078,197.60836791992188,208.96861267089844,197.60836791992188,208.96861267089844C197.60836791992188,208.96861267089844,219.13304138183594,123.76681518554688,219.13304138183594,123.76681518554688C219.13304138183594,123.76681518554688,233.48280334472656,260.0896911621094,233.48280334472656,260.0896911621094C233.48280334472656,260.0896911621094,271.1509704589844,203.5874481201172,271.1509704589844,203.5874481201172C271.1509704589844,203.5874481201172,321.37518310546875,204.4842987060547,321.37518310546875,204.4842987060547C321.37518310546875,204.4842987060547,354.5590515136719,101.34529113769531,354.5590515136719,101.34529113769531C354.5590515136719,101.34529113769531,366.2182312011719,205.38116455078125,366.2182312011719,205.38116455078125C366.2182312011719,205.38116455078125,380.5680236816406,292.3766784667969,380.5680236816406,292.3766784667969C380.5680236816406,292.3766784667969,408.3706970214844,202.69058227539062,408.3706970214844,202.69058227539062C408.3706970214844,202.69058227539062,455.9043273925781,207.1748809814453,455.9043273925781,207.1748809814453C455.9043273925781,207.1748809814453,488.19134521484375,151.5695037841797,488.19134521484375,151.5695037841797C488.19134521484375,151.5695037841797,498.95367431640625,243.94618225097656,498.95367431640625,243.94618225097656C498.95367431640625,243.94618225097656,516.890869140625,205.38116455078125,516.890869140625,205.38116455078125C516.890869140625,205.38116455078125,558.146484375,201.79371643066406,558.146484375,201.79371643066406C558.146484375,201.79371643066406,576.9805908203125,252.914794921875,576.9805908203125,252.914794921875C576.9805908203125,252.914794921875,588.6397705078125,100.44843292236328,588.6397705078125,100.44843292236328C588.6397705078125,100.44843292236328,628.1016235351562,339.0134582519531,628.1016235351562,339.0134582519531C628.1016235351562,339.0134582519531,626.3079223632812,203.5874481201172,626.3079223632812,203.5874481201172C626.3079223632812,203.5874481201172,660.3886108398438,202.69058227539062,660.3886108398438,202.69058227539062C660.3886108398438,202.69058227539062,669.3572387695312,134.52914428710938,669.3572387695312,134.52914428710938C669.3572387695312,134.52914428710938,689.9850463867188,288.78924560546875,689.9850463867188,288.78924560546875C689.9850463867188,288.78924560546875,725.8594970703125,209.86546325683594,725.8594970703125,209.86546325683594C725.8594970703125,209.86546325683594,798.5052490234375,208.07174682617188,798.5052490234375,208.07174682617188"
                    fill="none" stroke-width="3" stroke="hsl(4, 100%, 94%)" stroke-linecap="round" stroke-opacity="0.6")
                    defs
                        linearGradient(id="SvgjsLinearGradient1000")
                            stop(stop-color="hsl(37, 99%, 67%)" offset="0")
                            stop(stop-color="hsl(316, 73%, 52%)" offset="1")   
    
                .glass
                    table
                        tr
                            th 
                                i(class="fa-solid fa-circle-info" title="Description")
                            th
                                <i class="fa-regular fa-calendar" title="Date de l'activité"></i>
                            th
                                <i class="fa-solid fa-house" title="Heure de départ"></i>
                            th
                                <i class="fa-regular fa-clock" title="Durée de l'activité"></i>
                            th
                                <i class="fa-solid fa-arrows-left-right-to-line" title="Distance parcourue"></i>
                            th
                                <i class="fa-solid fa-heart-pulse" title="Moyenne de fréquence cardiaque"></i>
                            th
                                <i class="fa-solid fa-chart-simple" title="Minimum et maximum de battements par minute"></i>
                            //- if (typeof liste['liste'] !== 'undefined') {
                            //-     liste = liste['liste'];
                            //-     for (i = 0; i < liste.length;i++) {
                            //-         <tr>
                            //-             for (let j = 0; let j < liste[i].length; j++) {
                            //-                 <td><?php 
                            //-             console.log(liste[i][j]);
                            //-             ?></td>
                        //- if (isset($data['liste'])) {
                        //- $data = $data['liste'];
 
                        //-  for($i = 0; $i < count($data); $i++) { ?>
                        //-     <tr>
                        //-         <?php for ($j = 0; $j < count($data[$i]); $j++) { ?>
                        //-             <td><?php echo $data[$i][$j]; ?></td>
                        //-         <?php } ?>
                        //-     </tr>
                        each activity in liste
                            tr
                                each val in activity
                                    td= val
                    a(href='/upload?reset=True' class="delete" title="Cette action est irréversible") Réinitialiser