doctype html
html
    head
        title= title
        link(href='/stylesheets/form.css', rel='stylesheet')
    body
        .main
            div(class="form-container basic") 
                .form-group
                    input(type="text" id="nom" name="nom" class="input" placeholder=" " autocomplete="off" autofocus)
                    label(for="nom") Nom
                .form-group



