extends layout
block content
    meta(http-equiv="refresh" content="3;/upload")
    link(rel='stylesheet' type='text/css' media='screen' href='/stylesheet/valid.css')
    body
    .title-container
      a.title
        script(src="/js/userValid.js")
    .meetup
        div‎
        div‎
        div‎
        div‎